{{ define "content" }}

{{ template "header" . }}

<style type="text/css">
    nav {
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <form class="my-2 my-lg-0" action="/auth/sign_out" method="post">
            <button class="btn btn-outline-info my-2 my-sm-0">SignOut</button>
        </form>
    </nav>

    <div class="list-group">
        {{range .ProxyConfSlice}}
        <a href="?name={{.Name}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{.Name}}</h5>
            </div>
            <p class="mb-1">{{.Description}}</p>
        </a>
        {{end}}
    </div>
</div>

{{ template "footer" . }}

{{ end }}